<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>MusicWebsite</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>Controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>Controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListSongController</display-name>
    <servlet-name>ListSongController</servlet-name>
    <servlet-class>Controller.ListSongController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListSongController</servlet-name>
    <url-pattern>/ListSongController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutController</display-name>
    <servlet-name>LogOutController</servlet-name>
    <servlet-class>Controller.LogOutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutController</servlet-name>
    <url-pattern>/LogOutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpController</display-name>
    <servlet-name>SignUpController</servlet-name>
    <servlet-class>Controller.SignUpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpController</servlet-name>
    <url-pattern>/SignUpController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FavoriteController</display-name>
    <servlet-name>FavoriteController</servlet-name>
    <servlet-class>Controller.user.FavoriteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FavoriteController</servlet-name>
    <url-pattern>/FavoriteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFavoriteController</display-name>
    <servlet-name>AddFavoriteController</servlet-name>
    <servlet-class>Controller.user.AddFavoriteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFavoriteController</servlet-name>
    <url-pattern>/AddFavoriteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFavoriteController</display-name>
    <servlet-name>RemoveFavoriteController</servlet-name>
    <servlet-class>Controller.user.RemoveFavoriteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFavoriteController</servlet-name>
    <url-pattern>/RemoveFavoriteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPlaylistController</display-name>
    <servlet-name>AddPlaylistController</servlet-name>
    <servlet-class>Controller.user.AddPlaylistController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPlaylistController</servlet-name>
    <url-pattern>/AddPlaylistController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditNamePlaylistController</display-name>
    <servlet-name>EditNamePlaylistController</servlet-name>
    <servlet-class>Controller.user.EditNamePlaylistController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditNamePlaylistController</servlet-name>
    <url-pattern>/EditNamePlaylistController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemovePlaylistController</display-name>
    <servlet-name>RemovePlaylistController</servlet-name>
    <servlet-class>Controller.user.RemovePlaylistController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemovePlaylistController</servlet-name>
    <url-pattern>/RemovePlaylistController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveNavPlaylist</display-name>
    <servlet-name>RemoveNavPlaylist</servlet-name>
    <servlet-class>Controller.user.RemoveNavPlaylist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveNavPlaylist</servlet-name>
    <url-pattern>/RemoveNavPlaylist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowNavPlaylistController</display-name>
    <servlet-name>ShowNavPlaylistController</servlet-name>
    <servlet-class>Controller.user.ShowNavPlaylistController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowNavPlaylistController</servlet-name>
    <url-pattern>/ShowNavPlaylistController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSongController</display-name>
    <servlet-name>AddSongController</servlet-name>
    <servlet-class>Controller.admin.AddSongController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSongController</servlet-name>
    <url-pattern>/AddSongController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSongController</display-name>
    <servlet-name>DeleteSongController</servlet-name>
    <servlet-class>Controller.admin.DeleteSongController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSongController</servlet-name>
    <url-pattern>/DeleteSongController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditSongController</display-name>
    <servlet-name>EditSongController</servlet-name>
    <servlet-class>Controller.admin.EditSongController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditSongController</servlet-name>
    <url-pattern>/EditSongController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSongController</display-name>
    <servlet-name>UpdateSongController</servlet-name>
    <servlet-class>Controller.admin.UpdateSongController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSongController</servlet-name>
    <url-pattern>/UpdateSongController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateViewFilter</display-name>
    <servlet-name>UpdateViewFilter</servlet-name>
    <servlet-class>Filter.UpdateViewFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateViewFilter</servlet-name>
    <url-pattern>/UpdateViewFilter</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>UpdateViewFilter</display-name>
    <filter-name>UpdateViewFilter</filter-name>
    <filter-class>Filter.UpdateViewFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UpdateViewFilter</filter-name>
    <url-pattern>/UpdateViewFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UpdateViewFilter</filter-name>
    <servlet-name>ListSongController</servlet-name>
  </filter-mapping>
  <filter>
    <display-name>UserAuthenFilter</display-name>
    <filter-name>UserAuthenFilter</filter-name>
    <filter-class>Filter.UserAuthenFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserAuthenFilter</filter-name>
    <url-pattern>/views/pages/addSong.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UserAuthenFilter</filter-name>
    <url-pattern>/views/pages/navPlaylist.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UserAuthenFilter</filter-name>
    <url-pattern>/Controller.user/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UserAuthenFilter</filter-name>
    <url-pattern>/SendToAddSongController</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UserAuthenFilter</filter-name>
    <url-pattern>/AddPlaylistController</url-pattern>
  </filter-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/views/errors/404-error.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/views/errors/403-error.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/views/errors/500-error.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>AddNavPlaylist</display-name>
    <servlet-name>AddNavPlaylist</servlet-name>
    <servlet-class>Controller.user.AddNavPlaylist</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>AddNavPlaylist</servlet-name>
    <url-pattern>/AddNavPlaylist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendToAddSongController</display-name>
    <servlet-name>SendToAddSongController</servlet-name>
    <servlet-class>Controller.SendToAddSongController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendToAddSongController</servlet-name>
    <url-pattern>/SendToAddSongController</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AdminAuthenFilter</display-name>
    <filter-name>AdminAuthenFilter</filter-name>
    <filter-class>Filter.AdminAuthenFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminAuthenFilter</filter-name>
    <url-pattern>/EditSongController</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminAuthenFilter</filter-name>
    <url-pattern>/views/admin/*</url-pattern>
  </filter-mapping>
   
  <servlet>
    <description></description>
    <display-name>ConfirmEmailController</display-name>
    <servlet-name>ConfirmEmailController</servlet-name>
    <servlet-class>Controller.ConfirmEmailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmEmailController</servlet-name>
    <url-pattern>/ConfirmEmailController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordController</display-name>
    <servlet-name>ChangePasswordController</servlet-name>
    <servlet-class>Controller.ChangePasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordController</servlet-name>
    <url-pattern>/ChangePasswordController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewPasswordController</display-name>
    <servlet-name>NewPasswordController</servlet-name>
    <servlet-class>Controller.NewPasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewPasswordController</servlet-name>
    <url-pattern>/NewPasswordController</url-pattern>
  </servlet-mapping>
</web-app>